.faq {
  margin-top: 1em;
  border: 1px rgb(228, 225, 225) solid;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  text-align: left;
  &__title {
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }
  &__article {
    margin-bottom: 1.6em;
    margin-top: 1em;
    &__title {
      font-size: 1.3em;
      margin: .3em auto;
    }
    &__body {
      font-size: 1em;
    }
  }
}
